Repository redhat-plumbers-in-action/differential-shellcheck: changes, and which Mergify rules are due for each by the changed paths.
All: Add source label, Remove source label, Add configuration label, Remove configuration label, Add documentation label, Remove documentation label

Add source label:
  label:
    add:
    - source

Remove source label:
  label:
    remove:
    - source

Add configuration label:
  label:
    add:
    - configuration

Remove configuration label:
  label:
    remove:
    - configuration

Add documentation label:
  label:
    add:
    - documentation

Remove documentation label:
  label:
    remove:
    - documentation

Update permissions in examples
  .github/workflows/shellcheck-test.yml
  CHANGELOG.md
  README.md
Due: Remove source label, Add configuration label, Add documentation label

v2.3.5
  action.yml
Due: Remove source label, Add configuration label, Remove documentation label

Fix tool name in SARIF reports
  src/index.sh
Due: Add source label, Remove configuration label, Remove documentation label

v2.3.6
  action.yml
Due: Remove source label, Add configuration label, Remove documentation label

Improve autodetection of shell scripts
  CHANGELOG.md
  README.md
  src/functions.sh
  test/has_shebang.bats
  test/is_shell_extension.bats
Due: Add source label, Remove configuration label, Add documentation label

Retry codecov upload with delay on failure
  .github/workflows/unit-test.yml
Due: Remove source label, Add configuration label, Remove documentation label

v2.4.0
  action.yml
Due: Remove source label, Add configuration label, Remove documentation label

Allow to test current changes from PR
  .github/workflows/deploy-production.yml
  .github/workflows/differential-shellcheck.yml
  src/index.sh
Due: Add source label, Add configuration label, Remove documentation label

ci(dependabot): Add `gitsubmodule` package ecosystem
  .github/dependabot.yml
Due: Remove source label, Add configuration label, Remove documentation label

Use `.shellcheckrc`
  .github/.diff-shellcheck-exceptions.txt
  .github/.diff-shellcheck-scripts.txt
  .github/workflows/differential-shellcheck.yml
  .shellcheckrc
Due: Remove source label, Add configuration label, Remove documentation label

Add support for severity option
  README.md
  action.yml
  src/index.sh
Due: Add source label, Add configuration label, Add documentation label

Bring back `shell-scripts` example
  .github/.differential-shellcheck-scripts.txt
  .github/workflows/differential-shellcheck.yml
  README.md
Due: Remove source label, Add configuration label, Add documentation label

v2.5.0
  action.yml
Due: Remove source label, Add configuration label, Remove documentation label

Use word `defect` instead of `bug`
  src/functions.sh
  src/index.sh
Due: Add source label, Remove configuration label, Remove documentation label

refactor: Use function to execute shellcheck
  src/functions.sh
  src/index.sh
Due: Add source label, Remove configuration label, Remove documentation label

Update `CHANGELOG.md`
  CHANGELOG.md
Due: Remove source label, Remove configuration label, Add documentation label

`ignored-codes` option is now deprecated
  CHANGELOG.md
  README.md
  action.yml
Due: Remove source label, Add configuration label, Add documentation label

v2.5.1
  action.yml
Due: Remove source label, Add configuration label, Remove documentation label

Add option to enable `external-sources`
  .shellcheckrc
  action.yml
  src/functions.sh
  test/is_false.bats
  test/is_true.bats
Due: Add source label, Add configuration label, Remove documentation label

Fix ShellCheck warning `SC2250`
  test/clean_array.bats
  test/file_to_array.bats
  test/has_shebang.bats
  test/is_debug.bats
  test/is_false.bats
  test/is_script_listed.bats
  test/is_shell_extension.bats
  test/is_true.bats
  test/join_by.bats
Due: Remove source label, Remove configuration label, Remove documentation label

`external-sources` - Update README & CHANGELOG
  CHANGELOG.md
  README.md
Due: Remove source label, Remove configuration label, Add documentation label

Fix linter: command line -> command-line
  README.md
  action.yml
Due: Remove source label, Add configuration label, Add documentation label

Add `format` option and change default `gcc` -> `tty`
  CHANGELOG.md
  README.md
  action.yml
  src/functions.sh
  src/index.sh
Due: Add source label, Add configuration label, Add documentation label

doc: Update repository examples
  README.md
Due: Remove source label, Remove configuration label, Add documentation label

Path conditions:
  Add source label: any of: ^src/
  Remove source label: not (any of: ^src/)
  Add configuration label: (any of: \.yml$) or (any of: Dockerfile)
  Remove configuration label: (not (any of: \.yml$)) and (not (any of: Dockerfile))
  Add documentation label: (any of: \.md$) or (any of: \.png$)
  Remove documentation label: (not (any of: \.md$)) and (not (any of: \.png$))
