Repository redhat-plumbers-in-action/differential-shellcheck: changes, and which Mergify rules are due for each by the changed paths.
All: Add source label, Remove source label, Add configuration label, Remove configuration label, Add documentation label, Remove documentation label, Add test label, Remove test label

.mergify.yml:

---
# doc: https://docs.mergify.com

pull_request_rules:

  - name: Automatic merge (squash) on approval & CI pass
    conditions:
      - "#approved-reviews-by>=1"
      - "#review-requested=0"
      - "#changes-requested-reviews-by=0"
      - check-success=Test latest changes
      - -draft
      - label!=dont-merge
      - "label!=merge-strategy: rebase"
      - -title~=(?i)wip
      - base=main
    actions:
      merge:
        method: squash

  - name: Automatic merge (rebase) on approval & CI pass
    conditions:
      - "#approved-reviews-by>=1"
      - "#review-requested=0"
      - "#changes-requested-reviews-by=0"
      - check-success=Test latest changes
      - -draft
      - label!=dont-merge
      - "label=merge-strategy: rebase"
      - -title~=(?i)wip
      - base=main
    actions:
      merge:
        method: rebase
        rebase_fallback: none

  - name: Delete head branch after merge
    conditions:
      - head!=main
      - merged
    actions:
      delete_head_branch:

  # --- --- Labels --- --- #

  - name: Add source label
    conditions:
      - files~=^src/
    actions:
      label:
        add:
          - source

  - name: Remove source label
    conditions:
      - -files~=^src/
    actions:
      label:
        remove:
          - source

  # --- #

  - name: Add configuration label
    conditions:
      - or:
          - files~=\.yml$
          - files~=Dockerfile
    actions:
      label:
        add:
          - configuration

  - name: Remove configuration label
    conditions:
      - and:
          - -files~=\.yml$
          - -files~=Dockerfile
    actions:
      label:
        remove:
          - configuration

  # --- #

  - name: Add documentation label
    conditions:
      - or:
          - files~=\.md$
          - files~=\.png$
    actions:
      label:
        add:
          - documentation

  - name: Remove documentation label
    conditions:
      - and:
          - -files~=\.md$
          - -files~=\.png$
    actions:
      label:
        remove:
          - documentation

  # --- #

  - name: Add test label
    conditions:
      - files~=^test/
    actions:
      label:
        add:
          - test

  - name: Remove test label
    conditions:
      - -files~=^test/
    actions:
      label:
        remove:
          - test

feat: add support for subdirectory scanning
  action.yml
  src/functions.sh
  test/is_file_inside_scan_directory.bats
Due: Add source label, Add configuration label, Remove documentation label, Add test label

doc: `scan-directory` input
  README.md
  docs/CHANGELOG.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

git: ignore sarif files
  .gitignore
Due: Remove source label, Remove configuration label, Remove documentation label, Remove test label

fix: count of scanned files when running on push event
  docs/CHANGELOG.md
  src/summary.sh
  test/diff_scan_summary.bats
  test/summary.bats
Due: Add source label, Remove configuration label, Add documentation label, Add test label

fix: always gather defect statistics
  src/validation.sh
Due: Add source label, Remove configuration label, Remove documentation label, Remove test label

fix: don't gather/print defect statistics from fixed defects function
  src/validation.sh
  test/evaluate_and_print_fixes.bats
Due: Add source label, Remove configuration label, Remove documentation label, Add test label

fix: calling of `head` and `grep` in DEBUG mode
  docs/CHANGELOG.md
  src/functions.sh
Due: Add source label, Remove configuration label, Add documentation label, Remove test label

src: use ShellCheck JSON output format
  src/functions.sh
  src/validation.sh
Due: Add source label, Remove configuration label, Remove documentation label, Remove test label

fix(statistics): check position of defect optionally
  src/validation.sh
Due: Add source label, Remove configuration label, Remove documentation label, Remove test label

fix: remove `sed -e 's|$| <--[shellcheck]|'`, we now use json1 format
  src/functions.sh
Due: Add source label, Remove configuration label, Remove documentation label, Remove test label

feat: improve console output by using `csgrep -U`
  Dockerfile
  docs/CHANGELOG.md
  src/index.sh
  src/summary.sh
  src/validation.sh
  test/Dockerfile
  test/diff_scan_summary.bats
  test/evaluate_and_print_defects.bats
  test/evaluate_and_print_fixes.bats
  test/fixtures/evaluate_and_print_defects/defects.log
  test/fixtures/evaluate_and_print_fixes/fixes.log
  test/fixtures/gather_statistics/defects.log
  test/fixtures/get_defects/base.err
  test/fixtures/get_defects/defects.log
  test/fixtures/get_defects/head.err
  test/fixtures/get_fixes/base.err
  test/fixtures/get_fixes/fixes.log
  test/fixtures/get_fixes/head.err
  test/fixtures/get_number_of_defects_by_severity/defects.log
  test/fixtures/print_statistics/defects.log
  test/full_scan_summary.bats
  test/get_defects.bats
  test/get_number_of.bats
  test/print_statistics.bats
  test/summary.bats
  test/summary_defect_statistics.bats
Due: Add source label, Add configuration label, Add documentation label, Add test label

doc: Explain format of path list options
  README.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

doc: add section documenting VS Code integration
  README.md
  docs/images/vs-code-sarif-connect-dark.png
  docs/images/vs-code-sarif-results-dark.png
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

fix: add fallback for case of existing `ci_br_dest` branch
  src/index.sh
Due: Add source label, Remove configuration label, Remove documentation label, Remove test label

fix: always overwrite the sarif file
  src/index.sh
Due: Add source label, Remove configuration label, Remove documentation label, Remove test label

doc: update checkout version in example
  README.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

doc: fix format of example
  README.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

doc: add example of Job Summary
  README.md
  docs/images/job-summary-dark.png
  docs/images/job-summary-light.png
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

doc: update console output example
  docs/images/output-example.png
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

doc: add `example.sh` for testing purposes
  docs/example.sh
Due: Remove source label, Remove configuration label, Remove documentation label, Remove test label

doc: fix format of warning message
  README.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

deps: update `csutils` (`csdiff` and `csgrep`) to 3.0.4
  Dockerfile
  docs/CHANGELOG.md
  test/Dockerfile
  test/fixtures/get_defects/defects.log
  test/fixtures/get_fixes/fixes.log
  test/show_versions.bats
Due: Remove source label, Add configuration label, Add documentation label, Add test label
