Repository redhat-plumbers-in-action/differential-shellcheck: changes, and which Mergify rules are due for each by the changed paths.
All: Add source label, Remove source label, Add configuration label, Remove configuration label, Add documentation label, Remove documentation label, Add test label, Remove test label

.mergify.yml:

---
# doc: https://docs.mergify.com

pull_request_rules:

  - name: Automatic merge (squash) on approval & CI pass
    conditions:
      - "#approved-reviews-by>=1"
      - "#review-requested=0"
      - "#changes-requested-reviews-by=0"
      - check-success=Test latest changes
      - -draft
      - label!=dont-merge
      - "label!=merge-strategy: rebase"
      - -title~=(?i)wip
      - base=main
    actions:
      merge:
        method: squash

  - name: Automatic merge (rebase) on approval & CI pass
    conditions:
      - "#approved-reviews-by>=1"
      - "#review-requested=0"
      - "#changes-requested-reviews-by=0"
      - check-success=Test latest changes
      - -draft
      - label!=dont-merge
      - "label=merge-strategy: rebase"
      - -title~=(?i)wip
      - base=main
    actions:
      merge:
        method: rebase
        rebase_fallback: none

  - name: Delete head branch after merge
    conditions:
      - head!=main
      - merged
    actions:
      delete_head_branch:

  # --- --- Labels --- --- #

  - name: Add source label
    conditions:
      - files~=^src/
    actions:
      label:
        add:
          - source

  - name: Remove source label
    conditions:
      - -files~=^src/
    actions:
      label:
        remove:
          - source

  # --- #

  - name: Add configuration label
    conditions:
      - or:
          - files~=\.yml$
          - files~=Dockerfile
    actions:
      label:
        add:
          - configuration

  - name: Remove configuration label
    conditions:
      - and:
          - -files~=\.yml$
          - -files~=Dockerfile
    actions:
      label:
        remove:
          - configuration

  # --- #

  - name: Add documentation label
    conditions:
      - or:
          - files~=\.md$
          - files~=\.png$
    actions:
      label:
        add:
          - documentation

  - name: Remove documentation label
    conditions:
      - and:
          - -files~=\.md$
          - -files~=\.png$
    actions:
      label:
        remove:
          - documentation

  # --- #

  - name: Add test label
    conditions:
      - files~=^test/
    actions:
      label:
        add:
          - test

  - name: Remove test label
    conditions:
      - -files~=^test/
    actions:
      label:
        remove:
          - test

new defect
  src/test.sh
Due: Add source label, Remove configuration label, Remove documentation label, Remove test label

build: update csutils (csdiff) to 2.9.0
  test/Dockerfile
  test/show_versions.bats
Due: Remove source label, Add configuration label, Remove documentation label, Add test label

grep: do not escape `#` and `!` in patterns
  src/functions.sh
Due: Add source label, Remove configuration label, Remove documentation label, Remove test label

src: Utilize DEBUG to run grep without `--silent` option
  src/functions.sh
Due: Add source label, Remove configuration label, Remove documentation label, Remove test label

build: update csutils (csdiff) to 3.0.0
  Dockerfile
  docs/CHANGELOG.md
  test/Dockerfile
  test/show_versions.bats
Due: Remove source label, Add configuration label, Add documentation label, Add test label

doc: suggest running action only for default branch
  README.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

ci: use `github/codeql-action/upload-sarif`
  .github/workflows/differential-shellcheck.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

doc: suggest `github/codeql-action/upload-sarif` as default way how to upload SARIF
  README.md
  docs/CHANGELOG.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

v4.1.1
  action.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

breaking: perform a full scan on `pull_request` - GitHub will compare scans
  README.md
  src/functions.sh
  src/index.sh
Due: Add source label, Remove configuration label, Add documentation label, Remove test label

debug only
  src/index.sh
Due: Add source label, Remove configuration label, Remove documentation label, Remove test label

Revert "ci: use `github/codeql-action/upload-sarif`"
  .github/workflows/differential-shellcheck.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

Revert "doc: suggest `github/codeql-action/upload-sarif` as default way how to upload SARIF"
  README.md
  docs/CHANGELOG.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

feat: add `exclude-path` option
  .github/workflows/differential-shellcheck.yml
  README.md
  action.yml
  docs/CHANGELOG.md
  src/functions.sh
  test/is_matched_by_exclude_path.bats
Due: Add source label, Add configuration label, Add documentation label, Add test label

feat: add `include-path` option
  README.md
  action.yml
  docs/CHANGELOG.md
  src/functions.sh
  test/is_matched_by_exclude_path.bats
  test/is_matched_by_path.bats
Due: Add source label, Add configuration label, Add documentation label, Add test label

v4.2.0
  action.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

fix: handle multiple include/exclude paths with newlines
  .github/workflows/differential-shellcheck.yml
  docs/CHANGELOG.md
  src/functions.sh
  test/is_matched_by_path.bats
Due: Add source label, Add configuration label, Add documentation label, Add test label

v4.2.1
  action.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

fix: grep warning `warning: stray \ before /`
  src/functions.sh
Due: Add source label, Remove configuration label, Remove documentation label, Remove test label

v4.2.2
  action.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

ci: clean up no longer relevant security alerts
  .github/workflows/clean-alerts.yml
  empty.sarif
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

Revert "ci: clean up no longer relevant security alerts"
  .github/workflows/clean-alerts.yml
  empty.sarif
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

deps: monthly dependabot updates
  .github/dependabot.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

feat: show scanned files in console
  src/index.sh
Due: Add source label, Remove configuration label, Remove documentation label, Remove test label
