Repository redhat-plumbers-in-action/differential-shellcheck: changes, and which Mergify rules are due for each by the changed paths.
All: Add source label, Remove source label, Add configuration label, Remove configuration label, Add documentation label, Remove documentation label, Add test label, Remove test label

.mergify.yml:

---
# doc: https://docs.mergify.com

pull_request_rules:

  - name: Automatic merge (squash) on approval & CI pass
    conditions:
      - "#approved-reviews-by>=1"
      - "#review-requested=0"
      - "#changes-requested-reviews-by=0"
      - check-success=Test latest changes
      - -draft
      - label!=dont-merge
      - "label!=merge-strategy: rebase"
      - -title~=(?i)wip
      - base=main
    actions:
      merge:
        method: squash

  - name: Automatic merge (rebase) on approval & CI pass
    conditions:
      - "#approved-reviews-by>=1"
      - "#review-requested=0"
      - "#changes-requested-reviews-by=0"
      - check-success=Test latest changes
      - -draft
      - label!=dont-merge
      - "label=merge-strategy: rebase"
      - -title~=(?i)wip
      - base=main
    actions:
      merge:
        method: rebase
        rebase_fallback: none

  - name: Delete head branch after merge
    conditions:
      - head!=main
      - merged
    actions:
      delete_head_branch:

  # --- --- Labels --- --- #

  - name: Add source label
    conditions:
      - files~=^src/
    actions:
      label:
        add:
          - source

  - name: Remove source label
    conditions:
      - -files~=^src/
    actions:
      label:
        remove:
          - source

  # --- #

  - name: Add configuration label
    conditions:
      - or:
          - files~=\.yml$
          - files~=Dockerfile
    actions:
      label:
        add:
          - configuration

  - name: Remove configuration label
    conditions:
      - and:
          - -files~=\.yml$
          - -files~=Dockerfile
    actions:
      label:
        remove:
          - configuration

  # --- #

  - name: Add documentation label
    conditions:
      - or:
          - files~=\.md$
          - files~=\.png$
    actions:
      label:
        add:
          - documentation

  - name: Remove documentation label
    conditions:
      - and:
          - -files~=\.md$
          - -files~=\.png$
    actions:
      label:
        remove:
          - documentation

  # --- #

  - name: Add test label
    conditions:
      - files~=^test/
    actions:
      label:
        add:
          - test

  - name: Remove test label
    conditions:
      - -files~=^test/
    actions:
      label:
        remove:
          - test

deps: update `csutils` (`csdiff` and `csgrep`) to 3.0.4
  Dockerfile
  docs/CHANGELOG.md
  test/Dockerfile
  test/fixtures/get_defects/defects.log
  test/fixtures/get_fixes/fixes.log
  test/show_versions.bats
Due: Remove source label, Add configuration label, Add documentation label, Add test label

deps: add comment with pinned version
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-release.yml
  .github/workflows/deploy-test.yml
  .github/workflows/differential-shellcheck.yml
  .github/workflows/issue-labeler.yml
  .github/workflows/linter.yml
  .github/workflows/publish-release.yml
  .github/workflows/release-drafter.yml
  .github/workflows/scorecard-analysis.yml
  .github/workflows/unit-test.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

deps: use the correct version of super-linter
  .github/workflows/linter.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

v5.0.0
  README.md
  action.yml
  docs/CHANGELOG.md
Due: Remove source label, Add configuration label, Add documentation label, Remove test label

fix: incorrect log about fixed issues
  src/summary.sh
  src/validation.sh
  test/get_number_of.bats
Due: Add source label, Remove configuration label, Remove documentation label, Add test label

fix: drop support for DEBUG in grep
  src/functions.sh
Due: Add source label, Remove configuration label, Remove documentation label, Remove test label

fix: uninitialized variable RUNNER_DEBUG
  src/functions.sh
Due: Add source label, Remove configuration label, Remove documentation label, Remove test label

v5.0.1
  action.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

deps: update csutils to 3.1.0
  Dockerfile
  docs/CHANGELOG.md
  test/Dockerfile
  test/show_versions.bats
Due: Remove source label, Add configuration label, Add documentation label, Add test label

v5.0.2
  action.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

ci: fix release workflow
  .github/workflows/publish-release.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

doc: update markdown warning, use supported syntax
  README.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

doc: remove extra spaces from example
  README.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

README.md: bump actions/upload-artifact from v3 to v4
  README.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

README.md: bump actions/upload-artifact from v3 to v4 (#347)
  README.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

deps: update `csutils` to `3.2.0`
  Dockerfile
  docs/CHANGELOG.md
  test/Dockerfile
  test/show_versions.bats
Due: Remove source label, Add configuration label, Add documentation label, Add test label

feat: support `-*- shell script -*-` script header
  src/functions.sh
  test/has_shebang.bats
Due: Add source label, Remove configuration label, Remove documentation label, Add test label

feat: add support for emacs file mode line with `mode:`
  src/functions.sh
  test/has_shebang.bats
Due: Add source label, Remove configuration label, Remove documentation label, Add test label

v5.1.0
  action.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

fix: fix regex for emacs style annotations
  src/functions.sh
  test/has_shebang.bats
Due: Add source label, Remove configuration label, Remove documentation label, Add test label

v5.1.1
  action.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

test: `csdiff#170`
  Dockerfile
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

debug: add some issues
  docs/example.sh
Due: Remove source label, Remove configuration label, Remove documentation label, Remove test label

Fix curl Argument list too long by using a payload.json file
  src/functions.sh
Due: Add source label, Remove configuration label, Remove documentation label, Remove test label

build(deps): bump codecov/codecov-action from 3.1.4 to 4.3.0
  .github/workflows/unit-test.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label
