Repository redhat-plumbers-in-action/differential-shellcheck: changes, and which Mergify rules are due for each by the changed paths.
All: Add source label, Remove source label, Add configuration label, Remove configuration label, Add documentation label, Remove documentation label

Add source label:
  label:
    add:
    - source

Remove source label:
  label:
    remove:
    - source

Add configuration label:
  label:
    add:
    - configuration

Remove configuration label:
  label:
    remove:
    - configuration

Add documentation label:
  label:
    add:
    - documentation

Remove documentation label:
  label:
    remove:
    - documentation

Add test coverage
  .github/workflows/unit-test.yml
  CHANGELOG.md
  README.md
Due: Remove source label, Add configuration label, Add documentation label

Add `index.sh` into coverage statistics
  test/index.bats
Due: Remove source label, Remove configuration label, Remove documentation label

Use `latest` tag in action examples
  README.md
Due: Remove source label, Remove configuration label, Add documentation label

Use `@Actions-R-Us/actions-tagger` to handle tag updates
  .github/workflows/publish-release.yml
Due: Remove source label, Add configuration label, Remove documentation label

Deployment workflows - deploy to ghcr.io
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-release.yml
  .github/workflows/deploy-test.yml
  .github/workflows/linter.yml
  .github/workflows/publish-release.yml
  .github/workflows/release-drafter.yml
  action.yml
Due: Remove source label, Add configuration label, Remove documentation label

Pre-build containers Follow-up
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-release.yml
  .github/workflows/deploy-test.yml
Due: Remove source label, Add configuration label, Remove documentation label

v2.3.0
  CHANGELOG.md
  action.yml
Due: Remove source label, Add configuration label, Add documentation label

Fix release-deploy automation
  .github/workflows/deploy-release.yml
  CHANGELOG.md
  action.yml
Due: Remove source label, Add configuration label, Add documentation label

Fix link to action container
  CHANGELOG.md
  action.yml
Due: Remove source label, Add configuration label, Add documentation label

Add performance type into `release-drafter.yml`
  .github/release-drafter.yml
Due: Remove source label, Add configuration label, Remove documentation label

Use correct keyword
  .github/release-drafter.yml
Due: Remove source label, Add configuration label, Remove documentation label

Use `collapse-after` to hide dependency updates
  .github/release-drafter.yml
Due: Remove source label, Add configuration label, Remove documentation label

remove space
  .github/release-drafter.yml
Due: Remove source label, Add configuration label, Remove documentation label

Update `release-drafter.yml`
  .github/release-drafter.yml
Due: Remove source label, Add configuration label, Remove documentation label

Add `Real life examples of usage` section
  README.md
Due: Remove source label, Remove configuration label, Add documentation label

Fix linter
  README.md
Due: Remove source label, Remove configuration label, Add documentation label

Add `Real life examples of usage` section :tractor:
  README.md
Due: Remove source label, Remove configuration label, Add documentation label

Ignore `.vscode/`
  .gitignore
Due: Remove source label, Remove configuration label, Remove documentation label

Add issue-forms with issue labeler
  .github/ISSUE_TEMPLATE/issue-template.yml
  .github/advanced-issue-labeler.yml
  .github/workflows/issue-labeler.yml
Due: Remove source label, Add configuration label, Remove documentation label

Update image examples to support `light/dark` modes
  README.md
  doc/images/output-example.png
  doc/images/sarif-comment-dark.png
  doc/images/sarif-comment-light.png
  doc/images/sarif-comment.png
  doc/images/sarif-output-example-dark.png
  doc/images/sarif-output-example-light.png
  doc/images/sarif-output-example.png
Due: Remove source label, Remove configuration label, Add documentation label

Update screenshot examples and align to center
  README.md
  doc/images/output-example.png
Due: Remove source label, Remove configuration label, Add documentation label

Fix typos, grammar mistakes and reword some sentences
  CHANGELOG.md
  README.md
  src/functions.sh
  src/index.sh
Due: Add source label, Remove configuration label, Add documentation label

fixup! Fix typos, grammar mistakes and reword some sentences
  src/index.sh
Due: Add source label, Remove configuration label, Remove documentation label

Update permissions in examples
  .github/workflows/shellcheck-test.yml
  CHANGELOG.md
  README.md
Due: Remove source label, Add configuration label, Add documentation label

Path conditions:
  Add source label: any of: ^src/
  Remove source label: not (any of: ^src/)
  Add configuration label: (any of: \.yml$) or (any of: Dockerfile)
  Remove configuration label: (not (any of: \.yml$)) and (not (any of: Dockerfile))
  Add documentation label: (any of: \.md$) or (any of: \.png$)
  Remove documentation label: (not (any of: \.md$)) and (not (any of: \.png$))
