Repository redhat-plumbers-in-action/differential-shellcheck: changes, and which Mergify rules are due for each by the changed paths.
All: Add source label, Remove source label, Add configuration label, Remove configuration label, Add documentation label, Remove documentation label, Add test label, Remove test label

.mergify.yml:

---
# doc: https://docs.mergify.com

pull_request_rules:

  - name: Automatic merge (squash) on approval & CI pass
    conditions:
      - "#approved-reviews-by>=1"
      - "#review-requested=0"
      - "#changes-requested-reviews-by=0"
      - check-success=Test latest changes
      - -draft
      - label!=dont-merge
      - "label!=merge-strategy: rebase"
      - -title~=(?i)wip
      - base=main
    actions:
      merge:
        method: squash

  - name: Automatic merge (rebase) on approval & CI pass
    conditions:
      - "#approved-reviews-by>=1"
      - "#review-requested=0"
      - "#changes-requested-reviews-by=0"
      - check-success=Test latest changes
      - -draft
      - label!=dont-merge
      - "label=merge-strategy: rebase"
      - -title~=(?i)wip
      - base=main
    actions:
      merge:
        method: rebase
        rebase_fallback: none

  - name: Delete head branch after merge
    conditions:
      - head!=main
      - merged
    actions:
      delete_head_branch:

  # --- --- Labels --- --- #

  - name: Add source label
    conditions:
      - files~=^src/
    actions:
      label:
        add:
          - source

  - name: Remove source label
    conditions:
      - -files~=^src/
    actions:
      label:
        remove:
          - source

  # --- #

  - name: Add configuration label
    conditions:
      - or:
          - files~=\.yml$
          - files~=Dockerfile
    actions:
      label:
        add:
          - configuration

  - name: Remove configuration label
    conditions:
      - and:
          - -files~=\.yml$
          - -files~=Dockerfile
    actions:
      label:
        remove:
          - configuration

  # --- #

  - name: Add documentation label
    conditions:
      - or:
          - files~=\.md$
          - files~=\.png$
    actions:
      label:
        add:
          - documentation

  - name: Remove documentation label
    conditions:
      - and:
          - -files~=\.md$
          - -files~=\.png$
    actions:
      label:
        remove:
          - documentation

  # --- #

  - name: Add test label
    conditions:
      - files~=^test/
    actions:
      label:
        add:
          - test

  - name: Remove test label
    conditions:
      - -files~=^test/
    actions:
      label:
        remove:
          - test

fix: don't fail when base branch is out of date
  src/index.sh
Due: Add source label, Remove configuration label, Remove documentation label, Remove test label

build(deps): bump fedora from 9cfb3a7 to 3ec60eb
  test/Dockerfile
Due: Remove source label, Add configuration label, Remove documentation label, Add test label

v5.5.3
  action.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

test base
  README.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

doc: update usage examples
  .github/workflows/differential-shellcheck.yml
  README.md
Due: Remove source label, Add configuration label, Add documentation label, Remove test label

doc: update documentation regarding execution only on upstream repo
  README.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

fix: Pass INPUT_BASE and INPUT_HEAD to container for manual triggering-event
  action.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

fix: Make defects log valid for full scan
  src/index.sh
Due: Add source label, Remove configuration label, Remove documentation label, Remove test label

v5.5.4
  action.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

fix: remove SHA pinning from Fedora base image
  Dockerfile
  test/Dockerfile
Due: Remove source label, Add configuration label, Remove documentation label, Add test label

fix: use csgrep to embed context before csdiff comparison
  src/index.sh
Due: Add source label, Remove configuration label, Remove documentation label, Remove test label

deps: update csutils to 3.5.5
  Dockerfile
  test/Dockerfile
  test/show_versions.bats
Due: Remove source label, Add configuration label, Remove documentation label, Add test label

v5.5.5
  action.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

update csdiff and ShellCheck to the latest versions from Fedora 43
  Dockerfile
  test/Dockerfile
  test/fixtures/generate_SARIF/test.sarif
  test/show_versions.bats
Due: Remove source label, Add configuration label, Remove documentation label, Add test label

v5.5.6
  action.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

feat: add standalone CLI interface for use outside GitHub Actions
  .github/workflows/cli-integration.yml
  .github/workflows/man-page.yml
  .gitignore
  .pre-commit-hooks.yaml
  Makefile
  README.md
  VERSION
  differential-shellcheck.spec
  docs/CHANGELOG.md
  docs/differential-shellcheck.1.md
  src/cli.sh
  src/functions.sh
  src/index.sh
  src/validation.sh
  test/cli.bats
  test/emit_helpers.bats
  test/evaluate_and_print_defects.bats
  test/print_statistics.bats
Due: Add source label, Add configuration label, Add documentation label, Add test label

fix: resolve remaining CI failures from PR #579 review
  .markdownlintignore
  docs/differential-shellcheck.1.md
  src/cli.sh
  src/index.sh
  test/evaluate_and_print_defects.bats
  test/print_statistics.bats
Due: Add source label, Remove configuration label, Add documentation label, Add test label

deps: update to Fedora 44
  Dockerfile
  test/Dockerfile
  test/show_versions.bats
Due: Remove source label, Add configuration label, Remove documentation label, Add test label

v5.5.7
  action.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

deps: update codecov action to v7.0.0
  .github/workflows/unit-test.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label
