Repository redhat-plumbers-in-action/differential-shellcheck: changes, and which Mergify rules are due for each by the changed paths.
All: Add source label, Remove source label, Add configuration label, Remove configuration label, Add documentation label, Remove documentation label, Add test label, Remove test label

.mergify.yml:

---
# doc: https://docs.mergify.com

pull_request_rules:

  - name: Automatic merge (squash) on approval & CI pass
    conditions:
      - "#approved-reviews-by>=1"
      - "#review-requested=0"
      - "#changes-requested-reviews-by=0"
      - check-success=Test latest changes
      - -draft
      - label!=dont-merge
      - "label!=merge-strategy: rebase"
      - -title~=(?i)wip
      - base=main
    actions:
      merge:
        method: squash

  - name: Automatic merge (rebase) on approval & CI pass
    conditions:
      - "#approved-reviews-by>=1"
      - "#review-requested=0"
      - "#changes-requested-reviews-by=0"
      - check-success=Test latest changes
      - -draft
      - label!=dont-merge
      - "label=merge-strategy: rebase"
      - -title~=(?i)wip
      - base=main
    actions:
      merge:
        method: rebase
        rebase_fallback: none

  - name: Delete head branch after merge
    conditions:
      - head!=main
      - merged
    actions:
      delete_head_branch:

  # --- --- Labels --- --- #

  - name: Add source label
    conditions:
      - files~=^src/
    actions:
      label:
        add:
          - source

  - name: Remove source label
    conditions:
      - -files~=^src/
    actions:
      label:
        remove:
          - source

  # --- #

  - name: Add configuration label
    conditions:
      - or:
          - files~=\.yml$
          - files~=Dockerfile
    actions:
      label:
        add:
          - configuration

  - name: Remove configuration label
    conditions:
      - and:
          - -files~=\.yml$
          - -files~=Dockerfile
    actions:
      label:
        remove:
          - configuration

  # --- #

  - name: Add documentation label
    conditions:
      - or:
          - files~=\.md$
          - files~=\.png$
    actions:
      label:
        add:
          - documentation

  - name: Remove documentation label
    conditions:
      - and:
          - -files~=\.md$
          - -files~=\.png$
    actions:
      label:
        remove:
          - documentation

  # --- #

  - name: Add test label
    conditions:
      - files~=^test/
    actions:
      label:
        add:
          - test

  - name: Remove test label
    conditions:
      - -files~=^test/
    actions:
      label:
        remove:
          - test

feat: show scanned files in console
  src/index.sh
Due: Add source label, Remove configuration label, Remove documentation label, Remove test label

drop: `shell-scripts` input
  .github/.differential-shellcheck-scripts.txt
  .github/workflows/differential-shellcheck.yml
  README.md
  action.yml
  docs/CHANGELOG.md
  src/functions.sh
Due: Add source label, Add configuration label, Add documentation label, Remove test label

drop: `is_script_listed()` - no longer in use
  src/functions.sh
  test/is_script_listed.bats
Due: Add source label, Remove configuration label, Remove documentation label, Add test label

drop: `ignored-codes` input
  README.md
  action.yml
  docs/CHANGELOG.md
  src/functions.sh
  src/index.sh
Due: Add source label, Add configuration label, Add documentation label, Remove test label

drop: `join_by()` - no longer in use
  src/functions.sh
  test/join_by.bats
Due: Add source label, Remove configuration label, Remove documentation label, Add test label

fix: detection of changed files that might cause failure on some paths
  docs/CHANGELOG.md
  src/functions.sh
  src/index.sh
  test/file_to_array.bats
  test/fixtures/file_to_array/files.txt
  test/fixtures/get_scripts_for_scanning/dm-back\x2dslash.swap
  test/get_scripts_for_scanning.bats
Due: Add source label, Remove configuration label, Add documentation label, Add test label

drop: `clean_array()` function - not needed
  src/functions.sh
  test/clean_array.bats
Due: Add source label, Remove configuration label, Remove documentation label, Add test label

refactor: better format code between `group` functions
  src/index.sh
Due: Add source label, Remove configuration label, Remove documentation label, Remove test label

feat: add defect statistics - console output
  src/validation.sh
Due: Add source label, Remove configuration label, Remove documentation label, Remove test label

test: update snapshots and tests with statistics
  src/validation.sh
  test/evaluate_and_print_defects.bats
  test/evaluate_and_print_fixes.bats
  test/summary.bats
Due: Add source label, Remove configuration label, Remove documentation label, Add test label

test: `print_statistics()`
  test/fixtures/print_statistics/defects.log
  test/print_statistics.bats
Due: Remove source label, Remove configuration label, Remove documentation label, Add test label

test: `summary_defect_statistics()`
  test/summary_defect_statistics.bats
Due: Remove source label, Remove configuration label, Remove documentation label, Add test label

test: `gather_statistics()`
  test/fixtures/gather_statistics/defects.log
  test/gather_statistics.bats
Due: Remove source label, Remove configuration label, Remove documentation label, Add test label

doc: add documentation for recently added functions
  src/summary.sh
  src/validation.sh
Due: Add source label, Remove configuration label, Remove documentation label, Remove test label

test: `get_number_of_defects_by_severity()`
  test/fixtures/get_number_of_defects_by_severity/defects.log
  test/get_number_of_defects_by_severity.bats
Due: Remove source label, Remove configuration label, Remove documentation label, Add test label

doc: documentation of new statistics feature
  README.md
  docs/CHANGELOG.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

feat: add defect statistics - job summary output
  src/summary.sh
Due: Add source label, Remove configuration label, Remove documentation label, Remove test label

build: update csutils (csdiff) to 3.0.3
  Dockerfile
  docs/CHANGELOG.md
  test/Dockerfile
  test/show_versions.bats
Due: Remove source label, Add configuration label, Add documentation label, Add test label

fix: set correct version of ShellCheck in SARIF
  src/functions.sh
  src/index.sh
Due: Add source label, Remove configuration label, Remove documentation label, Remove test label

feat: add support for subdirectory scanning
  action.yml
  src/functions.sh
  test/is_file_inside_scan_directory.bats
Due: Add source label, Add configuration label, Remove documentation label, Add test label

doc: `scan-directory` input
  README.md
  docs/CHANGELOG.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

git: ignore sarif files
  .gitignore
Due: Remove source label, Remove configuration label, Remove documentation label, Remove test label
