Repository redhat-plumbers-in-action/differential-shellcheck: changes, and which Mergify rules are due for each by the changed paths.
All: Add source label, Remove source label, Add configuration label, Remove configuration label, Add documentation label, Remove documentation label

.mergify.yml:

# doc: https://docs.mergify.com
---

pull_request_rules:

  - name: Automatic merge on approval & CI pass
    conditions:
      - "#approved-reviews-by>=1"
      - "#review-requested=0"
      - "#changes-requested-reviews-by=0"
      - check-success=Test Differential ShellCheck
      - -draft
      - label!=dont-merge
      - -title~=(?i)wip
      - base=main
    actions:
      merge:
        method: rebase
        rebase_fallback: none
        
  # --- --- Labels --- --- #

  - name: Add source label
    conditions:
      - files~=^src/
    actions:
      label:
        add:
          - 'type: source'

  - name: Remove source label
    conditions:
      - -files~=^src/
    actions:
      label:
        remove:
          - 'type: source'
          
  # --- #

  - name: Add configuration label
    conditions:
      - or:
          - files~=\.yml$
          - files~=Dockerfile
    actions:
      label:
        add:
          - 'type: configuration'

  - name: Remove configuration label
    conditions:
      - and:
          - -files~=\.yml$
          - -files~=Dockerfile
    actions:
      label:
        remove:
          - 'type: configuration'
          
  # --- #

  - name: Add documentation label
    conditions:
      - files~=\.md$
      - files~=\.png$
    actions:
      label:
        add:
          - 'type: documentation'

  - name: Remove documentation label
    conditions:
      - -files~=\.md$
      - -files~=\.png$
    actions:
      label:
        remove:
          - 'type: documentation'

ci: Update release-drafter labels
  .github/release-drafter.yml
Due: Remove source label, Add configuration label, Remove documentation label

Let's start automating maintanance (#5)
  .github/dependabot.yml
  .github/release-drafter.yml
  .github/workflows/publish-release.yml
  .github/workflows/release-drafter.yml
  .github/workflows/shellcheck_test.yml
  .mergify.yml
  README.md
Due: Remove source label, Add configuration label

ci: Use simple lables
  .mergify.yml
Due: Remove source label, Add configuration label, Remove documentation label

ci: release-drafter - Add new section for ci changes
  .github/release-drafter.yml
Due: Remove source label, Add configuration label, Remove documentation label

Update mergify and release-drafter configuration (#6)
  .github/release-drafter.yml
  .mergify.yml
Due: Remove source label, Add configuration label, Remove documentation label

Update CHANGELOG
  CHANGELOG.md
Due: Remove source label, Remove configuration label

Update CHANGELOG (#7)
  CHANGELOG.md
Due: Remove source label, Remove configuration label

ci(Mergify): configuration update
  .mergify.yml
Due: Remove source label, Add configuration label, Remove documentation label

ci(Mergify): Fix documentation label rules (#8)
  .mergify.yml
Due: Remove source label, Add configuration label, Remove documentation label

ci: Update publish-release.yml
  .github/workflows/publish-release.yml
Due: Remove source label, Add configuration label, Remove documentation label

Use `--no-index` to avoid `git diff` warning
  src/index.sh
Due: Add source label, Remove configuration label, Remove documentation label

Make directory `/github/workspace` git-save
  src/index.sh
Due: Add source label, Remove configuration label, Remove documentation label

Remove double quotes to avoid git empty pathspec warings
  src/index.sh
Due: Add source label, Remove configuration label, Remove documentation label

test: Make GA tests ran on current version of repo/fork
  .github/workflows/shellcheck_test.yml
Due: Remove source label, Add configuration label, Remove documentation label

Fix example in docs, add missing `fetch-depth: 0`
  README.md
Due: Remove source label, Remove configuration label

Use `fedora:latest` container image instead of `rawhide`
  Dockerfile
Due: Remove source label, Add configuration label, Remove documentation label

Cleanup code from redundant variables
  src/index.sh
Due: Add source label, Remove configuration label, Remove documentation label

Fix wrong check in `clean_array()`
  src/functions.sh
Due: Add source label, Remove configuration label, Remove documentation label

Action cannot be run on `push`
  .github/workflows/shellcheck_test.yml
  README.md
Due: Remove source label, Add configuration label

CHANGELOG Update
  CHANGELOG.md
Due: Remove source label, Remove configuration label

Changelog for `v1.2.0`
  CHANGELOG.md
Due: Remove source label, Remove configuration label

Add support for SARIF format
  .github/workflows/shellcheck_test.yml
  CHANGELOG.md
  README.md
  action.yml
  doc/images/sarif-output-example.png
  src/index.sh
Due: Add source label, Add configuration label, Add documentation label

test sarif from in repo branch
  src/index.sh
Due: Add source label, Remove configuration label, Remove documentation label

test SARIF
  .github/workflows/shellcheck_test.yml
  action.yml
  src/index.sh
Due: Add source label, Add configuration label, Remove documentation label

Add marketplace badge
  README.md
Due: Remove source label, Remove configuration label
