Repository redhat-plumbers-in-action/differential-shellcheck: changes, and which Mergify rules are due for each by the changed paths.
All: Add source label, Remove source label, Add configuration label, Remove configuration label, Add documentation label, Remove documentation label, Add test label, Remove test label

Add source label:
  label:
    add:
    - source

Remove source label:
  label:
    remove:
    - source

Add configuration label:
  label:
    add:
    - configuration

Remove configuration label:
  label:
    remove:
    - configuration

Add documentation label:
  label:
    add:
    - documentation

Remove documentation label:
  label:
    remove:
    - documentation

Add test label:
  label:
    add:
    - test

Remove test label:
  label:
    remove:
    - test

Create SECURITY.md
  SECURITY.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

ci: fix deployment of test images - missing permission
  .github/workflows/deploy-test.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

ci: add permissions to deployment workflows
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-release.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

ci: fix path to test deployment workflow
  .github/workflows/deploy-test.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

ci: Allow manual triggers of test deployment workflow
  .github/workflows/deploy-test.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

ci: fix path to test image
  .github/workflows/unit-test.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

doc: don't advice to use `@latest` tag
  README.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

doc: Update README
  README.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

doc: fix TYPO
  Makefile
Due: Remove source label, Remove configuration label, Remove documentation label, Remove test label

doc: move `CHANGELOG` and `SECURITY` to `docs/`
  doc/CHANGELOG.md
  doc/SECURITY.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

doc: add `ARCHITECTURE` document
  doc/ARCHITECTURE.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

doc: add `CONTRIBUTING` document
  doc/CONTRIBUTING.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

Create CODE_OF_CONDUCT.md
  doc/CODE_OF_CONDUCT.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

doc: add links to useful documents
  README.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

refactor: `doc/` -> `docs/`
  README.md
  docs/ARCHITECTURE.md
  docs/CHANGELOG.md
  docs/CONTRIBUTING.md
  docs/SECURITY.md
  docs/images/output-example.png
  docs/images/sarif-comment-dark.png
  docs/images/sarif-comment-light.png
  docs/images/sarif-output-example-dark.png
  docs/images/sarif-output-example-light.png
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

doc: Update README screen-shots examples
  docs/images/output-example.png
  docs/images/sarif-output-example-dark.png
  docs/images/sarif-output-example-light.png
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

doc: move `CODE_OF_CONDUCT` to `docs/`
  docs/CODE_OF_CONDUCT.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

doc: Update links to documents
  README.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

ci: upload code coverage data to CodeCov
  .github/workflows/unit-test.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

Add SPDX License header to all source files
  Dockerfile
  Makefile
  action.yml
  src/functions.sh
  src/index.sh
  test/Dockerfile
  test/clean_array.bats
  test/file_to_array.bats
  test/has_shebang.bats
  test/index.bats
  test/is_debug.bats
  test/is_false.bats
  test/is_script_listed.bats
  test/is_shell_extension.bats
  test/is_symlink.bats
  test/is_true.bats
  test/join_by.bats
  test/show_versions.bats
Due: Add source label, Add configuration label, Remove documentation label, Add test label

build: Update workflow for building test images
  .github/workflows/deploy-test.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

csgrep: Use `--set-scan-prop` to set scan tool as ShellCheck
  src/index.sh
Due: Add source label, Remove configuration label, Remove documentation label, Remove test label

Update `csutils` `2.7.0` -> `2.8.0`
  Dockerfile
  docs/CHANGELOG.md
  test/Dockerfile
  test/show_versions.bats
Due: Remove source label, Add configuration label, Add documentation label, Add test label

Path conditions:
  Add source label: any of: ^src/
  Remove source label: not (any of: ^src/)
  Add configuration label: (any of: \.yml$) or (any of: Dockerfile)
  Remove configuration label: (not (any of: \.yml$)) and (not (any of: Dockerfile))
  Add documentation label: (any of: \.md$) or (any of: \.png$)
  Remove documentation label: (not (any of: \.md$)) and (not (any of: \.png$))
  Add test label: any of: ^test/
  Remove test label: not (any of: ^test/)
