Repository redhat-plumbers-in-action/differential-shellcheck: changes, and which Mergify rules are due for each by the changed paths.
All: Add source label, Remove source label, Add configuration label, Remove configuration label, Add documentation label, Remove documentation label, Add test label, Remove test label

Add source label:
  label:
    add:
    - source

Remove source label:
  label:
    remove:
    - source

Add configuration label:
  label:
    add:
    - configuration

Remove configuration label:
  label:
    remove:
    - configuration

Add documentation label:
  label:
    add:
    - documentation

Remove documentation label:
  label:
    remove:
    - documentation

Add test label:
  label:
    add:
    - test

Remove test label:
  label:
    remove:
    - test

add `is_github_actions()` function to check if the current environment is GitHub Actions
  src/functions.sh
Due: Add source label, Remove configuration label, Remove documentation label, Remove test label

feat: add support for different display engines
  .github/workflows/differential-shellcheck.yml
  Dockerfile
  README.md
  action.yml
  docs/images/csgrep-output-example.png
  docs/images/sarif-fmt-output-example.png
  src/functions.sh
  src/index.sh
  src/setup.sh
  src/validation.sh
  test/Dockerfile
  test/fixtures/print_result/defects.log
  test/fixtures/print_result/fixes.log
  test/print_result.bats
Due: Add source label, Add configuration label, Add documentation label, Add test label

test: `is_github_actions()`
  test/is_github_actions.bats
Due: Remove source label, Remove configuration label, Remove documentation label, Add test label

test: `generate_SARIF()`
  test/fixtures/generate_SARIF/defects.log
  test/fixtures/generate_SARIF/test.sarif
  test/generate_SARIF.bats
Due: Remove source label, Remove configuration label, Remove documentation label, Add test label

test: use function to check if scripts run in unit tests environment
  src/functions.sh
  test/file_to_array.bats
  test/get_scripts_for_scanning.bats
  test/is_unit_tests.bats
  test/pick_base_and_head_hash.bats
Due: Add source label, Remove configuration label, Remove documentation label, Add test label

doc: update image resolution
  README.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

feat: update to csdiff 3.3.0
  Dockerfile
  test/Dockerfile
  test/fixtures/generate_SARIF/test.sarif
  test/show_versions.bats
Due: Remove source label, Add configuration label, Remove documentation label, Add test label

doc: update CHANGELOG
  docs/CHANGELOG.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

test: fix `is_github_actions()` test
  test/is_github_actions.bats
Due: Remove source label, Remove configuration label, Remove documentation label, Add test label

update CHANGELOG
  docs/CHANGELOG.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

v5.3.0
  action.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

fix: don't throw away untracked files when run locally
  src/index.sh
Due: Add source label, Remove configuration label, Remove documentation label, Remove test label

doc: update token permissions documentation
  README.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

dependabot: remove unused label
  .github/dependabot.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

deps: update csdiff to v3.4.0
  Dockerfile
  docs/CHANGELOG.md
  test/Dockerfile
  test/show_versions.bats
Due: Remove source label, Add configuration label, Add documentation label, Add test label

v5.3.1
  action.yml
  docs/CHANGELOG.md
Due: Remove source label, Add configuration label, Add documentation label, Remove test label

Support merge_group event
  README.md
  action.yml
  src/functions.sh
  test/is_full_scan_demanded.bats
  test/is_strict_check_on_push_demanded.bats
  test/pick_base_and_head_hash.bats
Due: Add source label, Add configuration label, Add documentation label, Add test label

Fix Code Lint failures in README
  README.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

Run differential ShellCheck on merge_group
  .github/workflows/differential-shellcheck.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

ci: update Differential ShellCheck workflow
  .github/workflows/differential-shellcheck.yml
  docs/CHANGELOG.md
Due: Remove source label, Add configuration label, Add documentation label, Remove test label

lint: fix warnings
  docs/CHANGELOG.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

ci: run unit tests in merge queue
  .github/workflows/unit-test.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

ci: run ShellCheck on push only if target branch is `main`
  .github/workflows/differential-shellcheck.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

Path conditions:
  Add source label: any of: ^src/
  Remove source label: not (any of: ^src/)
  Add configuration label: (any of: \.yml$) or (any of: Dockerfile)
  Remove configuration label: (not (any of: \.yml$)) and (not (any of: Dockerfile))
  Add documentation label: (any of: \.md$) or (any of: \.png$)
  Remove documentation label: (not (any of: \.md$)) and (not (any of: \.png$))
  Add test label: any of: ^test/
  Remove test label: not (any of: ^test/)
