Repository redhat-plumbers-in-action/differential-shellcheck: changes, and which Mergify rules are due for each by the changed paths.
All: Add source label, Remove source label, Add configuration label, Remove configuration label, Add documentation label, Remove documentation label, Add test label, Remove test label

.mergify.yml:

---
# doc: https://docs.mergify.com

pull_request_rules:

  - name: Automatic merge (squash) on approval & CI pass
    conditions:
      - "#approved-reviews-by>=1"
      - "#review-requested=0"
      - "#changes-requested-reviews-by=0"
      - check-success=Test latest changes
      - -draft
      - label!=dont-merge
      - "label!=merge-strategy: rebase"
      - -title~=(?i)wip
      - base=main
    actions:
      merge:
        method: squash

  - name: Automatic merge (rebase) on approval & CI pass
    conditions:
      - "#approved-reviews-by>=1"
      - "#review-requested=0"
      - "#changes-requested-reviews-by=0"
      - check-success=Test latest changes
      - -draft
      - label!=dont-merge
      - "label=merge-strategy: rebase"
      - -title~=(?i)wip
      - base=main
    actions:
      merge:
        method: rebase
        rebase_fallback: none

  - name: Delete head branch after merge
    conditions:
      - head!=main
      - merged
    actions:
      delete_head_branch:

  # --- --- Labels --- --- #

  - name: Add source label
    conditions:
      - files~=^src/
    actions:
      label:
        add:
          - source

  - name: Remove source label
    conditions:
      - -files~=^src/
    actions:
      label:
        remove:
          - source

  # --- #

  - name: Add configuration label
    conditions:
      - or:
          - files~=\.yml$
          - files~=Dockerfile
    actions:
      label:
        add:
          - configuration

  - name: Remove configuration label
    conditions:
      - and:
          - -files~=\.yml$
          - -files~=Dockerfile
    actions:
      label:
        remove:
          - configuration

  # --- #

  - name: Add documentation label
    conditions:
      - or:
          - files~=\.md$
          - files~=\.png$
    actions:
      label:
        add:
          - documentation

  - name: Remove documentation label
    conditions:
      - and:
          - -files~=\.md$
          - -files~=\.png$
    actions:
      label:
        remove:
          - documentation

  # --- #

  - name: Add test label
    conditions:
      - files~=^test/
    actions:
      label:
        add:
          - test

  - name: Remove test label
    conditions:
      - -files~=^test/
    actions:
      label:
        remove:
          - test

lint: fix warnings
  docs/CHANGELOG.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

v5.4.0
  action.yml
  docs/CHANGELOG.md
Due: Remove source label, Add configuration label, Add documentation label, Remove test label

update to csdiff 3.5.0
  Dockerfile
  docs/CHANGELOG.md
  test/Dockerfile
  test/show_versions.bats
Due: Remove source label, Add configuration label, Add documentation label, Add test label

deps: update fedora container
  Dockerfile
  test/Dockerfile
Due: Remove source label, Add configuration label, Remove documentation label, Add test label

ci: disable `VALIDATE_YAML_PRETTIER`
  .github/workflows/linter.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

ci: disable `VALIDATE_MARKDOWN_PRETTIER`
  .github/workflows/linter.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

deps: use Fedora 41 as base image
  Dockerfile
  test/Dockerfile
  test/fixtures/generate_SARIF/test.sarif
  test/show_versions.bats
Due: Remove source label, Add configuration label, Remove documentation label, Add test label

feat: Make SARIF file more compact to allow for more findings to be uploaded to GitHub
  src/functions.sh
  test/fixtures/generate_SARIF/test.sarif
  test/generate_SARIF.bats
  test/index.bats
  test/print_result.bats
Due: Add source label, Remove configuration label, Remove documentation label, Add test label

feat: fail when running in a shallow git repository
  src/index.sh
  test/index.bats
Due: Add source label, Remove configuration label, Remove documentation label, Add test label

Remove hardcoded github.com references in the code
  src/functions.sh
  src/summary.sh
Due: Add source label, Remove configuration label, Remove documentation label, Remove test label

feat: improve debugging
  README.md
  src/index.sh
Due: Add source label, Remove configuration label, Add documentation label, Remove test label

v5.5.0
  action.yml
  docs/CHANGELOG.md
Due: Remove source label, Add configuration label, Add documentation label, Remove test label

debug: improve debug of differential scanning issues
  src/index.sh
Due: Add source label, Remove configuration label, Remove documentation label, Remove test label

debug: improve debugging of git issues
  src/index.sh
Due: Add source label, Remove configuration label, Remove documentation label, Remove test label

build: include git-lfs in image
  Dockerfile
  test/Dockerfile
Due: Remove source label, Add configuration label, Remove documentation label, Add test label

test: fix tests
  src/summary.sh
Due: Add source label, Remove configuration label, Remove documentation label, Remove test label

v5.5.1
  action.yml
  docs/CHANGELOG.md
Due: Remove source label, Add configuration label, Add documentation label, Remove test label

doc: remove sourcegraph links - they don't work
  README.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

doc: include new users in the list of users
  README.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

fix: check if base sha exists
  src/index.sh
Due: Add source label, Remove configuration label, Remove documentation label, Remove test label

v5.5.2
  action.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

doc: update example configuration to run only on upstream repository
  README.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

build(deps): bump fedora from 9cfb3a7 to 3ec60eb
  test/Dockerfile
Due: Remove source label, Add configuration label, Remove documentation label, Add test label
