Repository redhat-plumbers-in-action/differential-shellcheck: changes, and which Mergify rules are due for each by the changed paths.
All: Add source label, Remove source label, Add configuration label, Remove configuration label, Add documentation label, Remove documentation label

.mergify.yml:

# doc: https://docs.mergify.com
---

pull_request_rules:

  - name: Automatic merge on approval & CI pass
    conditions:
      - "#approved-reviews-by>=1"
      - "#review-requested=0"
      - "#changes-requested-reviews-by=0"
      - check-success=Test Differential ShellCheck
      - -draft
      - label!=dont-merge
      - -title~=(?i)wip
      - base=main
    actions:
      merge:
        method: rebase
        rebase_fallback: none
        
  # --- --- Labels --- --- #

  - name: Add source label
    conditions:
      - files~=^src/
    actions:
      label:
        add:
          - source

  - name: Remove source label
    conditions:
      - -files~=^src/
    actions:
      label:
        remove:
          - source
          
  # --- #

  - name: Add configuration label
    conditions:
      - or:
          - files~=\.yml$
          - files~=Dockerfile
    actions:
      label:
        add:
          - configuration

  - name: Remove configuration label
    conditions:
      - and:
          - -files~=\.yml$
          - -files~=Dockerfile
    actions:
      label:
        remove:
          - configuration
          
  # --- #

  - name: Add documentation label
    conditions:
      - or:
          - files~=\.md$
          - files~=\.png$
    actions:
      label:
        add:
          - documentation

  - name: Remove documentation label
    conditions:
      - and:
          - -files~=\.md$
          - -files~=\.png$
    actions:
      label:
        remove:
          - documentation

Add marketplace badge
  README.md
Due: Remove source label, Remove configuration label, Add documentation label

Change order of badges
  README.md
Due: Remove source label, Remove configuration label, Add documentation label

Document `GITHUB_TOKEN` limitations
  README.md
Due: Remove source label, Remove configuration label, Add documentation label

Use `PUT` on `code-scanning/analysis`
  src/index.sh
Due: Add source label, Remove configuration label, Remove documentation label

test SARIF
  src/index.sh
Due: Add source label, Remove configuration label, Remove documentation label

fix
  src/index.sh
Due: Add source label, Remove configuration label, Remove documentation label

Update documentation of SARIF feature
  CHANGELOG.md
  README.md
  doc/images/sarif-comment.png
  doc/images/sarif-output-example.png
Due: Remove source label, Remove configuration label, Add documentation label

Update dependabot configuration
  .github/dependabot.yml
Due: Remove source label, Add configuration label, Remove documentation label

Update release drafter
  .github/release-drafter.yml
Due: Remove source label, Add configuration label, Remove documentation label

Update `README` to reference `@v2`
  README.md
Due: Remove source label, Remove configuration label, Add documentation label

Don't upload empty SARIF reports
  src/index.sh
Due: Add source label, Remove configuration label, Remove documentation label

Update permissions for github action
  .github/workflows/shellcheck_test.yml
  README.md
Due: Remove source label, Add configuration label, Add documentation label

Add option to run action in debug mode
  CHANGELOG.md
  README.md
  src/functions.sh
  src/index.sh
Due: Add source label, Remove configuration label, Add documentation label

Add support for job summaries
  CHANGELOG.md
  README.md
  src/functions.sh
  src/index.sh
Due: Add source label, Remove configuration label, Add documentation label

Update note statements to use supported syntax
  README.md
Due: Remove source label, Remove configuration label, Add documentation label

Add support for `.bash` extensions
  CHANGELOG.md
  README.md
  src/functions.sh
Due: Add source label, Remove configuration label, Add documentation label

Fix link in Job Summary
  src/functions.sh
Due: Add source label, Remove configuration label, Remove documentation label

Utilize Github container registry
  .github/workflows/container.yml
  action.yml
  container/action.Dockerfile
  container/test.Dockerfile
Due: Remove source label, Add configuration label, Remove documentation label

Github registry, use correct tags
  .github/workflows/container.yml
Due: Remove source label, Add configuration label, Remove documentation label

Introduce shell test suite
  .github/dependabot.yml
  .github/linters/.markdown-lint.yml
  .github/linters/.yaml-lint.yml
  .github/release-drafter.yml
  .github/workflows/container.yml
  .github/workflows/linter.yml
  .github/workflows/publish-release.yml
  .github/workflows/release-drafter.yml
  .github/workflows/shellcheck-test.yml
  .github/workflows/unit-test.yml
  .gitignore
  .gitmodules
  .mergify.yml
  Dockerfile
  README.md
  action.yml
  src/functions.sh
  src/index.sh
  test/Dockerfile
  test/clean_array.bats
  test/file_to_array.bats
  test/has_shebang.bats
  test/is_debug.bats
  test/is_script_listed.bats
  test/is_shell_extension.bats
  test/join_by.bats
  test/test_helper/common-setup.bash
Due: Add source label, Add configuration label, Add documentation label

Add `git` as dependency for test container
  .github/linters/.hadolint.yaml
  Dockerfile
  test/Dockerfile
Due: Remove source label, Add configuration label, Remove documentation label

Add test coverage
  .github/workflows/unit-test.yml
  CHANGELOG.md
  README.md
Due: Remove source label, Add configuration label, Add documentation label
