Repository redhat-plumbers-in-action/differential-shellcheck: changes, and which Mergify rules are due for each by the changed paths.
All: Add source label, Remove source label, Add configuration label, Remove configuration label, Add documentation label, Remove documentation label, Add test label, Remove test label

Add source label:
  label:
    add:
    - source

Remove source label:
  label:
    remove:
    - source

Add configuration label:
  label:
    add:
    - configuration

Remove configuration label:
  label:
    remove:
    - configuration

Add documentation label:
  label:
    add:
    - documentation

Remove documentation label:
  label:
    remove:
    - documentation

Add test label:
  label:
    add:
    - test

Remove test label:
  label:
    remove:
    - test

build(deps): bump codecov/codecov-action from 3.1.4 to 4.3.0
  .github/workflows/unit-test.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

ci: disable BASH_EXEC and SHELL_SHFMT in super-linter
  .github/workflows/linter.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

doc: update CHANGELOG.md
  docs/CHANGELOG.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

doc: make `fetch-depth: 0` more visible in example
  README.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

doc: add alt properties to images
  README.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

doc: update CHANGELOG
  docs/CHANGELOG.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

v5.1.2
  action.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

Allow specifying WORK_DIR for intermediate files
  src/index.sh
  src/summary.sh
  src/validation.sh
Due: Add source label, Remove configuration label, Remove documentation label, Remove test label

Allow specifying WORK_DIR for intermediate files (#393)
  src/index.sh
  src/summary.sh
  src/validation.sh
Due: Add source label, Remove configuration label, Remove documentation label, Remove test label

pre-commit
  .pre-commit-hooks.yaml
  src/index.sh
  src/pre-commit.sh
  src/validation.sh
Due: Add source label, Remove configuration label, Remove documentation label, Remove test label

deps: update csdiff to `3.2.2`
  Dockerfile
  docs/CHANGELOG.md
  test/Dockerfile
  test/fixtures/get_defects/defects.log
  test/fixtures/get_fixes/fixes.log
  test/show_versions.bats
Due: Remove source label, Add configuration label, Add documentation label, Add test label

Update CHANGELOG.md
  docs/CHANGELOG.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

feat: embed code context into SARIF output
  src/index.sh
Due: Add source label, Remove configuration label, Remove documentation label, Remove test label

feat: provide `html` output with detected defects
  .github/workflows/differential-shellcheck.yml
  README.md
  action.yml
  docs/example.xhtml
  docs/images/html-output-exmple.png
  src/index.sh
  test/index.bats
Due: Add source label, Add configuration label, Add documentation label, Add test label

feat: provide `html` output with detected defects (#400)
  .github/workflows/differential-shellcheck.yml
  README.md
  action.yml
  docs/example.xhtml
  docs/images/html-output-exmple.png
  src/index.sh
  test/index.bats
Due: Add source label, Add configuration label, Add documentation label, Add test label

fix: simplify if statements in GHA workflows and in examples
  .github/workflows/differential-shellcheck.yml
  README.md
Due: Remove source label, Add configuration label, Add documentation label, Remove test label

doc: update changelog
  docs/CHANGELOG.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

ci: remove mergify it caused more problems than it solved
  .mergify.yml
  README.md
Due: Remove source label, Add configuration label, Add documentation label, Remove test label

ci: add labeler to replace mergify
  .github/labeler.yml
  .github/workflows/labeler.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

v5.2.0
  action.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

doc: update HTML output example image
  docs/images/html-output-exmple.png
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

doc: add tip about `sarif-tools` - conversion tool
  README.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

doc: update output documentation
  README.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

add `is_github_actions()` function to check if the current environment is GitHub Actions
  src/functions.sh
Due: Add source label, Remove configuration label, Remove documentation label, Remove test label

feat: add setup step
  src/functions.sh
  src/index.sh
  src/setup.sh
Due: Add source label, Remove configuration label, Remove documentation label, Remove test label

Path conditions:
  Add source label: any of: ^src/
  Remove source label: not (any of: ^src/)
  Add configuration label: (any of: \.yml$) or (any of: Dockerfile)
  Remove configuration label: (not (any of: \.yml$)) and (not (any of: Dockerfile))
  Add documentation label: (any of: \.md$) or (any of: \.png$)
  Remove documentation label: (not (any of: \.md$)) and (not (any of: \.png$))
  Add test label: any of: ^test/
  Remove test label: not (any of: ^test/)
