Repository redhat-plumbers-in-action/differential-shellcheck: changes, and which Mergify rules are due for each by the changed paths.
All: Add source label, Remove source label, Add configuration label, Remove configuration label, Add documentation label, Remove documentation label, Add test label, Remove test label

Add source label:
  label:
    add:
    - source

Remove source label:
  label:
    remove:
    - source

Add configuration label:
  label:
    add:
    - configuration

Remove configuration label:
  label:
    remove:
    - configuration

Add documentation label:
  label:
    add:
    - documentation

Remove documentation label:
  label:
    remove:
    - documentation

Add test label:
  label:
    add:
    - test

Remove test label:
  label:
    remove:
    - test

Update `csutils` `2.7.0` -> `2.8.0`
  Dockerfile
  docs/CHANGELOG.md
  test/Dockerfile
  test/show_versions.bats
Due: Remove source label, Add configuration label, Add documentation label, Add test label

Add SPDX License header to all source files
  Dockerfile
  Makefile
  action.yml
  src/functions.sh
  src/index.sh
  test/Dockerfile
  test/clean_array.bats
  test/file_to_array.bats
  test/has_shebang.bats
  test/index.bats
  test/is_debug.bats
  test/is_false.bats
  test/is_script_listed.bats
  test/is_shell_extension.bats
  test/is_symlink.bats
  test/is_true.bats
  test/join_by.bats
  test/show_versions.bats
Due: Add source label, Add configuration label, Remove documentation label, Add test label

v3.3.0
  action.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

ci: fix tagging of container image with major version
  .github/workflows/deploy-release.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

ci: Add `merge-strategy: rebase` label to every Dependabot PR
  .github/dependabot.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

ci: Drop `rebase_fallback` Mergify option - deprecated
  .mergify.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

v3.3.1
  action.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

build: don't update latest tag, to avoid breakage
  .github/workflows/publish-release.yml
  docs/CHANGELOG.md
Due: Remove source label, Add configuration label, Add documentation label, Remove test label

ci: run Differential ShellCheck Action on push event
  .github/workflows/differential-shellcheck.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

fix: better handle ShellCheck warnings and suggestions
  src/functions.sh
  src/index.sh
Due: Add source label, Remove configuration label, Remove documentation label, Remove test label

ci: log GitHub `context` value
  .github/workflows/differential-shellcheck.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

feat: scan on push event
  README.md
  action.yml
  src/functions.sh
  src/index.sh
Due: Add source label, Add configuration label, Add documentation label, Remove test label

test: tests for `link_to_results()`
  test/link_to_results.bats
Due: Remove source label, Remove configuration label, Remove documentation label, Add test label

test: tests for `pick_base_and_head_hash()`
  test/pick_base_and_head_hash.bats
Due: Remove source label, Remove configuration label, Remove documentation label, Add test label

doc: update documentation to reflect support for `push` event
  README.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

doc: update `CHANGELOG.md`
  docs/CHANGELOG.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

test: update tests for `index.sh`
  src/index.sh
  test/index.bats
Due: Add source label, Remove configuration label, Remove documentation label, Add test label

fix: ShellCheck warnings
  src/index.sh
Due: Add source label, Remove configuration label, Remove documentation label, Remove test label

feat: support full ShellCheck scans
  .gitmodules
  Dockerfile
  README.md
  action.yml
  docs/CHANGELOG.md
  src/functions.sh
  src/index.sh
  src/summary.sh
  src/validation.sh
  test/Dockerfile
  test/compose_results_link.bats
  test/evaluate_and_print_defects.bats
  test/evaluate_and_print_fixes.bats
  test/fixtures/evaluate_and_print_defects/defects.log
  test/fixtures/evaluate_and_print_fixes/fixes.log
  test/fixtures/get_defects/base.err
  test/fixtures/get_defects/defects.log
  test/fixtures/get_defects/head.err
  test/fixtures/get_fixes/base.err
  test/fixtures/get_fixes/fixes.log
  test/fixtures/get_fixes/head.err
  test/fixtures/get_scripts_for_scanning/files.txt
  test/fixtures/get_scripts_for_scanning/non-script.md
  test/fixtures/get_scripts_for_scanning/script1.sh
  test/fixtures/get_scripts_for_scanning/script2
  test/get_defects.bats
  test/get_fixes.bats
  test/get_scripts_for_scanning.bats
  test/index.bats
  test/is_full_scan_demanded.bats
  test/is_strict_check_on_push_demanded.bats
  test/pick_base_and_head_hash.bats
Due: Add source label, Add configuration label, Add documentation label, Add test label

test: use `GITHUB_EVENT_NAME` only when var is undefined
  src/functions.sh
Due: Add source label, Remove configuration label, Remove documentation label, Remove test label

feat: expose SARIF results for further use
  .github/workflows/differential-shellcheck.yml
  README.md
  action.yml
  docs/CHANGELOG.md
  src/index.sh
Due: Add source label, Add configuration label, Add documentation label, Remove test label

v4.0.1
  action.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

doc: update real life examples
  README.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

Path conditions:
  Add source label: any of: ^src/
  Remove source label: not (any of: ^src/)
  Add configuration label: (any of: \.yml$) or (any of: Dockerfile)
  Remove configuration label: (not (any of: \.yml$)) and (not (any of: Dockerfile))
  Add documentation label: (any of: \.md$) or (any of: \.png$)
  Remove documentation label: (not (any of: \.md$)) and (not (any of: \.png$))
  Add test label: any of: ^test/
  Remove test label: not (any of: ^test/)
