Repository redhat-plumbers-in-action/differential-shellcheck: changes, and which Mergify rules are due for each by the changed paths.
All: Add source label, Remove source label, Add configuration label, Remove configuration label, Add documentation label, Remove documentation label

Add source label:
  label:
    add:
    - source

Remove source label:
  label:
    remove:
    - source

Add configuration label:
  label:
    add:
    - configuration

Remove configuration label:
  label:
    remove:
    - configuration

Add documentation label:
  label:
    add:
    - documentation

Remove documentation label:
  label:
    remove:
    - documentation

doc: Update repository examples
  README.md
Due: Remove source label, Remove configuration label, Add documentation label

v3.0.1
  .github/workflows/deploy-release.yml
  action.yml
Due: Remove source label, Add configuration label, Remove documentation label

doc: Improve support of GitHub themes
  README.md
Due: Remove source label, Remove configuration label, Add documentation label

ci(Mergify): configuration update
  .mergify.yml
Due: Remove source label, Add configuration label, Remove documentation label

doc: Remove trailing space from example
  README.md
Due: Remove source label, Remove configuration label, Add documentation label

Further improve autodetection of shell scripts
  src/functions.sh
Due: Add source label, Remove configuration label, Remove documentation label

Update has_shebang.bats
  test/has_shebang.bats
Due: Remove source label, Remove configuration label, Remove documentation label

Further improve autodetection of shell scripts
  src/functions.sh
  test/has_shebang.bats
Due: Add source label, Remove configuration label, Remove documentation label

Add support for `emacs` and `vi/vim` file types specifications
  CHANGELOG.md
  README.md
  src/functions.sh
  test/has_shebang.bats
Due: Add source label, Remove configuration label, Add documentation label

v3.1.0
  action.yml
Due: Remove source label, Add configuration label, Remove documentation label

Update to `advanced-issue-labeler@v2`
  .github/advanced-issue-labeler.yml
  .github/workflows/issue-labeler.yml
Due: Remove source label, Add configuration label, Remove documentation label

doc: Update examples
  README.md
Due: Remove source label, Remove configuration label, Add documentation label

src: fixing some defects reported by ShellCheck
  .shellcheckrc
  src/functions.sh
  src/index.sh
Due: Add source label, Remove configuration label, Remove documentation label

fix: TYPO in `.shellcheckrc`
  .shellcheckrc
Due: Remove source label, Remove configuration label, Remove documentation label

doc: Add more examples of usage
  README.md
Due: Remove source label, Remove configuration label, Add documentation label

doc: Update SARIF support documentation
  README.md
Due: Remove source label, Remove configuration label, Add documentation label

doc: Document support of `.shellcheckrc` file
  CHANGELOG.md
  README.md
Due: Remove source label, Remove configuration label, Add documentation label

test csdiff #68
  Dockerfile
  test.sh
Due: Remove source label, Add configuration label, Remove documentation label

build: Pin important packages to their releases
  Dockerfile
Due: Remove source label, Add configuration label, Remove documentation label

build: Pin important packages to their releases (#120)
  Dockerfile
Due: Remove source label, Add configuration label, Remove documentation label

fix(symlinks): Don't check symbolic links
  CHANGELOG.md
  src/functions.sh
  src/index.sh
  test/is_symlink.bats
Due: Add source label, Remove configuration label, Add documentation label

Path conditions:
  Add source label: any of: ^src/
  Remove source label: not (any of: ^src/)
  Add configuration label: (any of: \.yml$) or (any of: Dockerfile)
  Remove configuration label: (not (any of: \.yml$)) and (not (any of: Dockerfile))
  Add documentation label: (any of: \.md$) or (any of: \.png$)
  Remove documentation label: (not (any of: \.md$)) and (not (any of: \.png$))
