Repository redhat-plumbers-in-action/differential-shellcheck: changes, and which Mergify rules are due for each by the changed paths.
All: Add source label, Remove source label, Add configuration label, Remove configuration label, Add documentation label, Remove documentation label, Add test label, Remove test label

.mergify.yml:

---
# doc: https://docs.mergify.com

pull_request_rules:

  - name: Automatic merge (squash) on approval & CI pass
    conditions:
      - "#approved-reviews-by>=1"
      - "#review-requested=0"
      - "#changes-requested-reviews-by=0"
      - check-success=Test latest changes
      - -draft
      - label!=dont-merge
      - "label!=merge-strategy: rebase"
      - -title~=(?i)wip
      - base=main
    actions:
      merge:
        method: squash

  - name: Automatic merge (rebase) on approval & CI pass
    conditions:
      - "#approved-reviews-by>=1"
      - "#review-requested=0"
      - "#changes-requested-reviews-by=0"
      - check-success=Test latest changes
      - -draft
      - label!=dont-merge
      - "label=merge-strategy: rebase"
      - -title~=(?i)wip
      - base=main
    actions:
      merge:
        method: rebase
        rebase_fallback: none

  - name: Delete head branch after merge
    conditions:
      - head!=main
      - merged
    actions:
      delete_head_branch:

  # --- --- Labels --- --- #

  - name: Add source label
    conditions:
      - files~=^src/
    actions:
      label:
        add:
          - source

  - name: Remove source label
    conditions:
      - -files~=^src/
    actions:
      label:
        remove:
          - source

  # --- #

  - name: Add configuration label
    conditions:
      - or:
          - files~=\.yml$
          - files~=Dockerfile
    actions:
      label:
        add:
          - configuration

  - name: Remove configuration label
    conditions:
      - and:
          - -files~=\.yml$
          - -files~=Dockerfile
    actions:
      label:
        remove:
          - configuration

  # --- #

  - name: Add documentation label
    conditions:
      - or:
          - files~=\.md$
          - files~=\.png$
    actions:
      label:
        add:
          - documentation

  - name: Remove documentation label
    conditions:
      - and:
          - -files~=\.md$
          - -files~=\.png$
    actions:
      label:
        remove:
          - documentation

  # --- #

  - name: Add test label
    conditions:
      - files~=^test/
    actions:
      label:
        add:
          - test

  - name: Remove test label
    conditions:
      - -files~=^test/
    actions:
      label:
        remove:
          - test

doc: add simple documentation to added functions
  src/functions.sh
  src/validation.sh
Due: Add source label, Remove configuration label, Remove documentation label, Remove test label

doc: update real life examples
  README.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

doc: return permissions into example of use
  README.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

doc: avoid hard-coding main branch name
  README.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

doc: avoid hard-coding main branch name (#187)
  README.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

Revert "doc: avoid hard-coding main branch name (#187)"
  README.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

fix: `clean_array()` correctly escape characters
  output.sarif
  src/functions.sh
  test/clean_array.bats
Due: Add source label, Remove configuration label, Remove documentation label, Add test label

fix: get_scripts_for_scanning() correctly escape characters
  output.sarif
  src/functions.sh
  test/get_scripts_for_scanning.bats
Due: Add source label, Remove configuration label, Remove documentation label, Add test label

test: `index.bats` remove `output.sarif` on teardown
  test/index.bats
Due: Remove source label, Remove configuration label, Remove documentation label, Add test label

test: extend `get_scripts_for_scanning.bats`
  src/functions.sh
  test/fixtures/get_scripts_for_scanning/$script4.sh
  test/fixtures/get_scripts_for_scanning/files.txt
  test/fixtures/get_scripts_for_scanning/script 2.sh
  test/fixtures/get_scripts_for_scanning/script&3.sh
  test/get_scripts_for_scanning.bats
Due: Add source label, Remove configuration label, Remove documentation label, Add test label

test: extend `pick_base_and_head_hash.bats`
  src/functions.sh
  test/pick_base_and_head_hash.bats
Due: Add source label, Remove configuration label, Remove documentation label, Add test label

test: extend `file_to_array.bats`
  test/file_to_array.bats
Due: Remove source label, Remove configuration label, Remove documentation label, Add test label

test: add `summary_useful_links()` test
  test/summary_useful_links.bats
Due: Remove source label, Remove configuration label, Remove documentation label, Add test label

test: extend `show_versions.bats`
  test/show_versions.bats
Due: Remove source label, Remove configuration label, Remove documentation label, Add test label

test: add `get_number_of()` test
  test/get_number_of.bats
Due: Remove source label, Remove configuration label, Remove documentation label, Add test label

test: add `diff_scan_summary()` test
  src/summary.sh
  test/diff_scan_summary.bats
Due: Add source label, Remove configuration label, Remove documentation label, Add test label

test: add `full_scan_summary()` test
  test/full_scan_summary.bats
Due: Remove source label, Remove configuration label, Remove documentation label, Add test label

test: add `summary()` test
  test/summary.bats
Due: Remove source label, Remove configuration label, Remove documentation label, Add test label

doc: improve permission documentation
  .github/workflows/differential-shellcheck.yml
  README.md
Due: Remove source label, Add configuration label, Add documentation label, Remove test label

v4.0.2
  action.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

fix: Handle cases when `BASE` SHA isn't known - `push` events
  src/functions.sh
  test/pick_base_and_head_hash.bats
Due: Add source label, Remove configuration label, Remove documentation label, Add test label

wip
  src/functions.sh
Due: Add source label, Remove configuration label, Remove documentation label, Remove test label

test: `csdiff` PR #68
  Dockerfile
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

Add defect
  src/index.sh
Due: Add source label, Remove configuration label, Remove documentation label, Remove test label
