Repository redhat-plumbers-in-action/differential-shellcheck: changes, and which Mergify rules are due for each by the changed paths.
All: Add source label, Remove source label, Add configuration label, Remove configuration label, Add documentation label, Remove documentation label, Add test label, Remove test label

Add source label:
  label:
    add:
    - source

Remove source label:
  label:
    remove:
    - source

Add configuration label:
  label:
    add:
    - configuration

Remove configuration label:
  label:
    remove:
    - configuration

Add documentation label:
  label:
    add:
    - documentation

Remove documentation label:
  label:
    remove:
    - documentation

Add test label:
  label:
    add:
    - test

Remove test label:
  label:
    remove:
    - test

v3.1.1
  action.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

ci: Add scorecard GitHub action
  .github/workflows/scorecard-analysis.yml
  README.md
Due: Remove source label, Add configuration label, Add documentation label, Remove test label

build: Update `csdiff` to latest version (`v2.7.0`)
  CHANGELOG.md
  Dockerfile
Due: Remove source label, Add configuration label, Add documentation label, Remove test label

test: run unit tests with local changes
  .github/actions/test/Dockerfile
  .github/actions/test/action.yml
  .github/workflows/deploy-test.yml
  .github/workflows/unit-test.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

build: Add Makefile for easy local testing
  Makefile
Due: Remove source label, Remove configuration label, Remove documentation label, Remove test label

makefile: Add support for Podman
  Makefile
  test/Dockerfile
Due: Remove source label, Add configuration label, Remove documentation label, Add test label

v3.2.1
  action.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

build: Update ShellCheck from `0.7.2` to `0.8.0`
  Dockerfile
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

feat: Show versions of important packages in console log
  src/functions.sh
  src/index.sh
Due: Add source label, Remove configuration label, Remove documentation label, Remove test label

test: `show_versions()`
  test/Dockerfile
  test/show_versions.bats
Due: Remove source label, Add configuration label, Remove documentation label, Add test label

ci: Run test suite using local (from PR) changes
  .github/workflows/unit-test.yml
  Makefile
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

ci: Fix test deployment workflow
  .github/workflows/deploy-test.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

test: Update test image to use Fedora 37 and ShellCheck 0.8.0
  test/Dockerfile
Due: Remove source label, Add configuration label, Remove documentation label, Add test label

test: Build test image when content have changes
  .github/workflows/unit-test.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

Update CHANGELOG
  CHANGELOG.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

ci: pin GitHub Actions to SHA1
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-release.yml
  .github/workflows/deploy-test.yml
  .github/workflows/differential-shellcheck.yml
  .github/workflows/issue-labeler.yml
  .github/workflows/linter.yml
  .github/workflows/publish-release.yml
  .github/workflows/release-drafter.yml
  .github/workflows/scorecard-analysis.yml
  .github/workflows/unit-test.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

Create CODEOWNERS
  .github/CODEOWNERS
Due: Remove source label, Remove configuration label, Remove documentation label, Remove test label

ci: pin GitHub Actions to SHA1
  .github/workflows/unit-test.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

ci: pin base Fedora images to SHA256
  Dockerfile
  test/Dockerfile
Due: Remove source label, Add configuration label, Remove documentation label, Add test label

ci: set strict permissions for GitHub Workflows
  .github/workflows/deploy-test.yml
  .github/workflows/differential-shellcheck.yml
  .github/workflows/issue-labeler.yml
  .github/workflows/publish-release.yml
  .github/workflows/release-drafter.yml
  .github/workflows/scorecard-analysis.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

Revert "ci: set strict permissions for GitHub Workflows"
  .github/workflows/deploy-test.yml
  .github/workflows/differential-shellcheck.yml
  .github/workflows/issue-labeler.yml
  .github/workflows/publish-release.yml
  .github/workflows/release-drafter.yml
  .github/workflows/scorecard-analysis.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

Create SECURITY.md
  SECURITY.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

Path conditions:
  Add source label: any of: ^src/
  Remove source label: not (any of: ^src/)
  Add configuration label: (any of: \.yml$) or (any of: Dockerfile)
  Remove configuration label: (not (any of: \.yml$)) and (not (any of: Dockerfile))
  Add documentation label: (any of: \.md$) or (any of: \.png$)
  Remove documentation label: (not (any of: \.md$)) and (not (any of: \.png$))
  Add test label: any of: ^test/
  Remove test label: not (any of: ^test/)
